.infinite-carousel-section {
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  background-color: #e5faff;
  padding-top: 60px;
}

.carousel {
  display: flex;
  animation: scroll 40s linear infinite;
  width: calc(300px * 12);
  position: relative;
}

.carousel::before,
.carousel::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: '';
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.carousel::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.carousel::before {
  left: 0;
  top: 0;
}

.carousel-item {
  font-size: 3rem;
  font-weight: bold;
  color: #bf17a7;
  margin: 0 40px;
  white-space: nowrap;
}

.carousel-icon img {
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 12));
  }
}

/* Mobile */
@media screen and (max-width: 750px) {
  .carousel-item {
    font-size: 2rem;
  }

  .carousel-icon img {
    width: 30px;
    height: 30px;
  }

  .carousel {
    animation-duration: 40s;
  }
}
