.image-block-description {
  padding: 0 60px;
}

.image-block-wrapper {
  display: flex;
  margin: 42px 42px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}

.image-block-image img {
  width: 100vw;
  height: auto;
  border-radius: 12px;
  border: 3px solid rgba(255, 255, 255, 0.4);
}

.image-block-text {
  position: absolute;
  background-color: #35deed;
  padding: 20px;
  border-radius: 12px;
  max-width: 300px;
  margin-left: 20px;
  flex-direction: column;
  justify-content: flex-start;
}
@media screen and (max-width: 750px) {
  .image-block-description {
    padding: 20px;
  }

  .image-block-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .image-block-text {
    position: relative;
    max-width: 100%;
    margin-left: 0;
    text-align: center;
    margin-top: 20px;
    z-index: 1;
  }

  .image-block-image img {
    width: 100%;
  }
}
