.tabs-section {
  padding: 20px;
}

.tabs-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.tabs-image img {
  display: none;
  width: 100%;
}

.tabs-image img.active {
  display: block;
}

.tab {
  cursor: pointer;
  margin-bottom: 10px;
}

.tab.active h3,
.tab.active p {
  color: #000;
}

.tab h3 {
  font-weight: bold;
  font-size: 1.2em;
}

@media (max-width: 768px) {
  .tabs-wrapper {
    flex-direction: column;
  }

  .tabs-image {
    order: 1;
  }

  .tabs-tabs {
    order: 2;
  }
}
