.infinite-carousel-section {
  overflow: hidden;
  position: relative;
  padding: 20px 0;
}

.infinite-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 100%;
}

.infinite-carousel-track {
  display: flex;
  animation: scroll 40s linear infinite;
}

.infinite-carousel-item {
  width: 150px;
  height: auto;
  margin: 0 20px;
  list-style: none;
  gap: 57px;
}

.infinite-carousel-item img {
  width: 100%;
  height: auto;
  filter: grayscale(50%);
  transition: filter 0.3s;
}

.infinite-carousel-item:hover img {
  filter: none;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
