.infinite-carousel-section {
  overflow: hidden;
  position: relative;
}
.infinite-carousel {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;

  width: 960px;
}

.infinite-carousel::before,
.infinite-carousel::after {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  content: '';
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.infinite-carousel::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.infinite-carousel::before {
  left: 0;
  top: 0;
}

.infinite-carousel-track {
  animation: infinite-carousel-scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.infinite-carousel-item {
  height: 100px;
  width: 250px;
}

.infinite-carousel-item img {
  display: block;
  height: 100%;
  width: 100%;
}

@keyframes infinite-carousel-scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
