.tabs-image-section {
  display: flex;
  margin: 120px 20px;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.tabs-container {
  display: flex;
  width: 40%;
}

.tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 40%;
  border-bottom: 2px solid #e5e5e5;
}

.tabs .tab {
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #777;
}

.tabs .tab.active {
  color: #5d3ebc;
  border-bottom: 3px solid #5d3ebc;
}

.tab-content {
  padding: 20px;
  width: 40%;
  display: none;
}

.tab-content.active {
  display: block;
}

.tab-content p {
  margin: 0 0 20px;
}

.image-section {
  width: 100%;
  margin-top: 20px;
}

.image-section img {
  max-width: 100%;
  border-radius: 10px;
}

/* Responsive mobile */
@media screen and (max-width: 768px) {
  .tabs-container {
    flex-direction: column;
  }

  .tabs {
    width: 100%;
  }

  .tab-content {
    width: 100%;
  }

  .image-section {
    width: 100%;
    margin-top: 20px;
  }
}
