.tabs-image-section {
  display: flex;
  margin: 20px 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.tabs-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #e5e5e5;
}

.tabs .tab {
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #777;
}
.tab-content.active {
  display: block !important;
}

.tabs .tab.active {
  color: #5d3ebc;
  border-bottom: 3px solid #5d3ebc;
}

.tab-content {
  display: none !important;
  padding: 20px 0;
  display: block;
  width: 100%;
}

.tab-content p {
  margin: 10px 0;
}

.image-section {
  width: 45vw;
  display: flex;
  justify-content: center;
  margin-left: 20px;
}

.image-section img {
  max-width: 100%;
  border-radius: 10px;
}

/* Responsive mobile */
@media screen and (max-width: 768px) {
  .tabs-image-section {
    flex-direction: column;
  }

  .tabs-container,
  .image-section {
    width: 100%;
    margin-top: 20px;
  }
}
