.tabs-image-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin: 60px 10px;
  width: 100%;
  gap: 40px;
}

.tabs-container {
  justify-self: stretch;
  width: 100%;
}

.tabs {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 2px solid #e5e5e5;
}

.tabs .tab {
  padding: 15px 20px;
  cursor: pointer;
  font-weight: bold;
  color: #777;
}
.tab-content.active {
  display: block !important;
}

.tabs .tab.active {
  color: #5d3ebc;
  border-bottom: 3px solid #5d3ebc;
}

.tab-content {
  display: none !important;
  padding: 20px 0;
  display: block;
  width: 100%;
}

.tab-content p {
  margin: 10px 0;
}

.section-image {
  border-radius: 20px;
  object-fit: cover;
}

.image-container {
  display: flex;
  gap: 2rem;
}
